.magicpattern { 
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

.magicpattern2 {
  animation-name: ani-float-v2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

.magicpattern3 {
  animation-name: ani-float-v3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes ani-float {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(7px, 18px); }
  100% { transform: translate(0, -0px); }    
}

@keyframes ani-float-v2 {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(-3px, -10px); }
  100% { transform: translate(0, 0px); }
}

@keyframes ani-float-v3 {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(5px, 9px); }
  100% { transform: translate(0, 0px); }
}